* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}

.sidebar {
    width: 300px;
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.sidebar-nav {
    background-color: rgb(13, 13, 13);
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.sidebar-nav .logo {
    width: 120px;
}

.sidebar-nav .logo img {
    width: 100%;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav ul li {
    padding: 10px 20px;
}

.sidebar-nav ul li a:hover {
    color: #fff;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color: rgb(184, 182, 182);
    font-size: 16px;
    font-weight: 600;

}

.sidebar-nav ul li i {
    font-size: 20px;
    margin-right: 10px;

}

.library::after {
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}

.create-playlist {
    background: rgb(55, 53, 53);
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar-scroll {
    height: 120px;
    overflow-y: auto;
}

.sidebar-scroll::-webkit-scrollbar {
    background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background: transparent;
    width: 10px;
}

sidebar-scroll:hover::-wbkit-scrollbar-thumb {
    background: rgb(135, 133, 133);
    width: 5px;
}

.create-playlist h4 {
    color: white;
    font-size: 15px;
}

.create-playlist p {
    color: white;
    font-size: 12px;
    margin: 12px 0;
}

.create-playlist button {
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.privacy ul li a {
    text-decoration: none;
    color: rgb(139, 137, 137);
    font-size: 12px;
    font-weight: 600;
    margin: 0 5px;
}

.privacy ul li a:hover {
    text-decoration: underline;
    color: #f0ecec;
}

.privacy ul {
    list-style: none;
    margin-top: 10px;
}

.privacy ul li {
    padding: 0 12px;
    padding-bottom: 8px;
}

.eng-btn {
    padding: 20px 30px
}

.eng-btn button {
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #f0ecec;
    border: 1px solid #818080;
    border-radius: 20px;
    margin: 10px 0;
}

.eng-btn button:hover {
    padding: 11px 31px;
    border: 1px solid #fff;
}

.main-section {
    margin-left: 300px;
    background: #0c0c0c;
    height: 100vh;
    overflow-y:auto;
    margin-bottom: 80px;
}
.main-section::-webkit-scrollbar{
    background:#000;
}
.main-section::-webkit-scrollbar-thumb{
    background:#1db954;
    width: 10px;
}
.main-section:hover::-webkit-scrollbabr-thumb{
    background: #5c5b5b;
    width: 5px;
}

.main-section .top-nav {
    padding: 20px 30px;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-section .top-nav button {
    background: transparent;
    border: 0;
    outline: 0;
}

.main-section .top-nav .prev-btn button i {
    color: #b7b5b5;
    font-size: 22px;
    margin-right: 20px;
}

.top-nav .login-btn .sign-up {
    color: #838181;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
}

.top-nav .login-btn .sign-up:hover {
    color: #ffffff;
}

.top-nav .login-btn .login {
    color: #252424;
    font-size: 16px;
    margin-right: 10px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 20px;
}

.top-nav .login-btn .login:hover {
    background: #818080;
}

.spotify-playlist {
    padding: 20px 40px;
}

.spotify-playlist h2 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-playlist .card {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlist .card .item {
    width: 140px;
    min-width: 190px;
    background-color: #2f2e2e;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}

.spotify-playlist .card .item:hover {
    background-color: #4f4c4c;
    ;
}

.spotify-playlist .card .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlist .item h4 {
    color: #fff;
}

.spotify-playlist .item p {
    color: rgb(137, 133, 133);
    font-size: 13px;
    margin-top: 10px;
}

.spotify-playlist .item p:hover {
    text-decoration: underline;
    ;
}

.spotify-playlist .play-btn {
    position: relative;
}

.spotify-playlist .play-btn i{
    position: absolute;
    width: 45px;
    height: 45px;
    background: #1db954;
    border-radius: 50%;
    padding: 13px;
    font-size: 20px;
    right: 5px;
    top: -45px;
    opacity:0;
    transition: 0.3s ease all;
}
.spotify-playlist .card .item:hover .play-btn i{
    opacity: 1;
    transform: translateY(-20px)
}
.footer-section{
    padding:20px 40px;
}
.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-section .footer .footer-links .footer-column{
    margin: 0 12px;
}
.footer-section .footer .footer-links div{
    color: #fff;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}
.footer-section .footer .footer-links ul li{
    list-style: none;
    margin: 6px 0;
}
.footer-section .footer .footer-links ul li a{
    text-decoration: none;
    color: #969393;
    font-size: 14px;
    cursor: pointer;
}
.footer-section .footer .footer-links ul li a:hover{
    text-decoration: underline;
    color: #fff;
}
.footer .social-links i{
    width: 35px;
    height: 35px;
    color:#fff;
    background: #282727;
    border-radius: 50%;
    padding: 10px;
    font-size: 15px;
    margin: 0 5px;
}
.footer .social-links i:hover{
    background: #636262;
} 
 hr{
    margin: 20px 40px;
    border: 0;
    outline: 0;
    border: 1px solid #575656;
    margin-top: 40px;
}
.copyright{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 30px;
}
.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,#ae2896,#509bf5);
    position: fixed;
    bottom:0;
    left:3px;
    right:0;
    padding: 12px 20px;
    margin:5px;
    border-radius:10px;
}

.preview h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom:5px;
    color: #fff;
}
.preview p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.preview button{
    padding: 12px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color:black;
}